# Ignore node_modules (both frontend and backend)
**/node_modules
**/dist

# Ignore log files
*.log
**/*.log

# Ignore environment files (for security reasons, add these during build or runtime)
.env
.env.local

# Ignore build and cache directories
**/.next
**/.cache
**/build
**/coverage
**/.turbo
**/vite

# Ignore editor and OS-specific files
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo

# Ignore Docker files
Dockerfile*
docker-compose.yml

# Ignore test files
**/__tests__
**/*.spec.js
**/*.test.js
**/*.spec.ts
**/*.test.ts
